<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nouvel épisode</title>
</head>
<body>
    <h1>Nouvel épisode {{ episode.title }} créé</h1>
    <p>Bonjour, le nouvel épisode {{ episode.title }} a été créé sur Wild Series</p>
    <p>Synopsis : {{ episode.synonpsis }}</p>
</body>
</html>