{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le programme</h1>

    <div class="row">
        <div class="col-4 m-auto">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}
        </div>
    
    </div>
    
{% endblock %}