{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!{% endblock %}

{% block body %}
    <header>
        <section>
         <video autoplay muted loop id="bg-video">
            <source src="{{ asset('build/images/4761738-uhd_4096_2160_25fps.mp4') }}" type="video/mp4">
            Your browser does not support HTML5 video.
            </video>
            <h1>THE DARK NIGHT </h1>
        </section>
    </header>
{% endblock %}
