{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!{% endblock %}

{% block body %}
    <header>
        <section>
            <h1>THE DARK NIGHT </h1>
        </section>
    </header>
{% endblock %}
