{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!{% endblock %}

{% block body %}
    <header>
         <video autoplay muted loop id="bg-video">
            <source src="{{ asset('build/images/4761738-uhd_4096_2160_25fps.mp4') }}" type="video/mp4">
            Your browser does not support HTML5 video.
            </video>
            <div class="header-title">
                <h1>THE LAST ROUND </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit veniam laudantium dolores. Libero, facere possimus exercitationem consequuntur ea quasi. Nostrum?</p>
            </div>
            
    </header>
    <section class="container">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide"><img src="{{ asset('build/images/e1.jpg') }}" alt=""></div>
              <div class="swiper-slide"><img src="{{ asset('build/images/e1.jpg') }}" alt=""></div>
              <div class="swiper-slide"><img src="{{ asset('build/images/e2.jpg') }}" alt=""></div>
              ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
          </div>
    </section>
 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   
    <br>
    <br>
    <br>

{% endblock %}
