{% extends "base.html.twig" %}

{% block body %}
  


<div class="details">
    <div class="program-image">
        <img src="{{ asset('build/images/e1.jpg') }}" alt="">
    </div>
    <div class="program-details">
        
    </div>
  </div>










{% endblock %}

