header {
    width: 100%;
    height: 50vh;
    background-size: cover;
}

header video {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.header-title {
    position: absolute;
    top: 17rem;
    left: 10rem;
}

.header-title h1 {
    font-size: 4rem;
    color: white;
}

.header-title p {
    font-size: 1.5rem;
    color: white;
    width: 60%;
    text-align: justify;
}

.container {
    margin-top: 20rem;
}

.most-watched {
    position: relative;
    bottom: 8rem;
    margin: 0 auto;


}

.description {
    text-align: justify;
    height: 6rem;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 5;
    /* Number of lines to show */
    -webkit-line-clamp: 5;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
}

.fa {
    color: var(--second-secondary-color);
}

.col {
    margin-top: 2rem;
}

video {
    width: 80%;
    height: 100%;
    object-fit: cover;
    filter: saturate(0) brightness(1.3);
}

.program-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.program-cards :nth-child(9) {
    grid-column: 1/5;
}

.program-cards :nth-child(21) {
    grid-column: 1/3;
    grid-row: 6/8;
    filter: opacity(0.9);
    position: relative;
}

.village-title {
    position: relative;
    bottom: 50rem;
    font-size: 4rem;
    color: var(--primary-color);
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgb(0, 0, 0);
    margin: 0 auto;
    filter: opacity(2);
}

.village-text {
    position: relative;
    bottom: 45rem;
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0.4rem white;
    padding: 0.5rem;
    color: var(--primary-color);
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgb(0, 0, 0);
    margin: 0 auto;
    filter: opacity(2);
}

.john-wick {
    box-sizing: border-box;
    border: 0.5rem solid var(--second-primary-color);
    height: 50rem;
}

.johnwick-title {
    position: relative;
    bottom: 40rem;
    font-size: 4rem;
    color: var(--second-primary-color);
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgb(0, 0, 0);
    margin: 0 auto;
    width: 40%;
    filter: opacity(2);
}

.johnwick-text {
    position: relative;
    bottom: 20rem;
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: justify;
    font-weight: bold;
    padding: 0.5rem;
    color: var(--second-primary-color);
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgb(0, 0, 0);
    margin: 0 auto;
    filter: opacity(2);
}

.pagination {
    display: flex;
    width: fit-content;
    margin: 2rem auto;
    font-size: 1.3rem;
}

.pagination a {
    padding: 0 0.5rem;
    color: var(--third-secondary-color);
    font-size: 1.3rem;
}

/* here we start the css of the show page */


.details {
    display: grid;
}

.program-image {
    margin: 3rem auto;
}

.show-title {
    font-family: var(--first-font-family);
    letter-spacing: 2px;
}
.details-description p{
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: justify;
    letter-spacing: 2px;
    
}
.details-seasons {
    padding: 1rem;
}

.row-show {
    margin: 10rem 0 10rem;
}

.details-seasons h3 {
    font-size: 2rem;
    color: var(--first-secondary-color);
    margin: 0 0.9rem;
    text-align: center;
    letter-spacing: 2px;
}

.details-seasons ul {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.details-seasons li {
    padding: 1rem;
    border-bottom: 1px solid var(--first-secondary-color);
    width: 100%;
    font-size: 1.6rem;
    letter-spacing: 3px;

}
.image-height{
    height: 315px;

}
.card-title{
    font-size: 1.8rem;
    font-weight: 400;
    width: 100%;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}