header{
     width: 100%;
     height: 50vh;
     background-size: cover;  
}
header video{
    width: 100%;
    height: 90vh;
    object-fit: cover;  
}
.header-title{
    position: absolute;
    top: 17rem;
    left: 10rem;
}
.header-title h1{
    font-size: 4rem;
    color: white;
}
.header-title p{
    font-size: 1.5rem;
    color: white;
    width: 60%;
    text-align: justify;
}
.container{
    margin-top: 20rem;
}
.most-watched{
   position: relative;
   bottom: 8rem;
   margin: 0 auto;


}
.description{
    text-align: justify;
}
.fa {
    color: red;
}
.col{
    margin-top: 1rem;
}
video{
    width: 80%;
    height: 100%;
    object-fit: cover;
    filter: saturate(0) brightness(1.3);
}
.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.row :nth-child(9){
    grid-column: 1/5;
}
.row :nth-child(21){
    grid-column: 1/3;
    grid-row: 6/8;
    filter: opacity(0.9);
}
.village-title{
    position: relative;
    bottom: 50rem;
    font-size:4rem ;
    color: var(--primary-color);
    box-shadow:0.5rem 0.5rem 0.5rem 0.5rem rgb(0, 0, 0);
    margin: 0 auto;
    filter: opacity(2);
}
.village-text{
    position: relative;
    bottom: 45rem;
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0.4rem white;
    padding: 0.5rem;
    color: var(--primary-color);
    box-shadow:0.5rem 0.5rem 0.5rem 0.5rem rgb(0, 0, 0);
    margin: 0 auto;
    filter: opacity(2);
}
