 <footer>
        <div class="footer-container">
            <div class="footer-left">
                <h2>LOGO</h2>
                <p>SOLOGAN COMPANY</p>
            </div>
            <div class="footer-center">
                <div class="footer-column">
                    <a href="#">Weebly Themes</a>
                    <a href="#">Pre-Sale FAQs</a>
                    <a href="#">Submit a Ticket</a>
                </div>
                <div class="footer-column">
                    <a href="#">Services</a>
                    <a href="#">Theme Tweak</a>
                </div>
                <div class="footer-column">
                    <a href="#">Showcase</a>
                    <a href="#">Widgetkit</a>
                    <a href="#">Support</a>
                </div>
                <div class="footer-column">
                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Affiliates</a>
                    <a href="#">Resources</a>
                </div>
            </div>
            <div class="footer-divider"></div>
            <div class="footer-bottom">
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-rss"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
                </div>
                <p>© Copyright. All rights reserved.</p>
            </div>
        </div>
    </footer>