<li{{ attributes }} class="nav-item dropdown bg-white p-2 text-black-50 rounded-3">
    <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        Categories
    </a>
    <ul class="dropdown-menu">
        {% for category in this.categories %}
            <li>
                <a
                        class="dropdown-item categories-list alert alert-danger"
                        href="{{ path('category_index', {'categoryName': category.name}) }}">
                    {{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
</li>