<nav>
    <div>
    <a href="{{path('program_index')}}">
        <h1>Wild series</h1>
    </a>    
    </div>
    
    <div>
        <form action="#">
            <input type="search" placeholder="search">
        </form>
    </div>

    <div>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="program">Program</a></li>
            <li><a href="category">Category</a></li>
            <li><a href="actor">Actor</a></li>
        </ul>
    </div>
</nav>