<nav>
	<div>
		<a href="{{path('program_index')}}">
			<h1>Wild series</h1>
		</a>
	</div>

	<div>
		<form action="#">
			<input type="search" placeholder="search">
		</form>
	</div>

	<div>
		<ul>
			<li><a href="{{path('program_index')}}">Home</a></li>
			<li><a href="{{path('category_index')}}">Categories</a></li>
			<li><a href="{{path('app_actor_index')}}">Acteurs</a></li>
		</ul>
	</div> 
</nav>
